<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Alignet_Payme>
			<version>1.0.0</version>
		</Alignet_Payme>
	</modules>
	<global>
		<models>
			<payme>
				<class>Alignet_Payme_Model</class>
			</payme>
		</models>
		<helpers>
			<payme>
				<class>Alignet_Payme_Helper</class>
			</payme>
		</helpers>
		<blocks>
			<payme>
				<class>Alignet_Payme_Block</class>
			</payme>
		</blocks>
	</global>
	<frontend>
		<secure_url>
			<payme_shared>/payme/shared/</payme_shared>
		</secure_url>
		<routers>
			<payme>
				<use>standard</use>
				<args>
					<module>Alignet_Payme</module>
					<frontName>payme</frontName>
				</args>
			</payme>
		</routers>
		<translate>
			<modules>
				<Alignet_Payme>
					<files>
						<default>Alignet_Payme.csv</default>
					</files>
				</Alignet_Payme>
			</modules>
		</translate>
		<layout>
			<updates>
				<payme>
					<file>payme.xml</file>
				</payme>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<Alignet_Payme>
					<files>
						<default>Alignet_Payme.csv</default>
					</files>
				</Alignet_Payme>
			</modules>
		</translate>
	</adminhtml>
	<default>
        <payment>
        	<payme_shared>
				<model>payme/shared</model>
				<title>Payme</title>
				<ALIGNET_URLTPV>1</ALIGNET_URLTPV>
				<ALIGNET_DEBUG>1</ALIGNET_DEBUG>
				<ALIGNET_IDENTCOMMERCE></ALIGNET_IDENTCOMMERCE>
				<ALIGNET_KEYWALLET></ALIGNET_KEYWALLET>
				<ALIGNET_IDACQUIRER></ALIGNET_IDACQUIRER>
				<ALIGNET_IDCOMMERCE></ALIGNET_IDCOMMERCE>
				<ALIGNET_MCC></ALIGNET_MCC>
				<ALIGNET_KEY></ALIGNET_KEY>
        	</payme_shared>
        </payment>
    </default>
</config>